.buildpath
.ddev
.devcontainer
.dockerignore
.editorconfig
.env
.env.docker.example
.env.docker.ports.example
.git
.github
.gitignore
.idea/
.phpunit.result.cache
.project
.settings/
.vs/
.vscode/
*.sublime-project
*.sublime-workspace
composer.lock
composer.phar
config/app_local.php
config/install.ini
config/smtp.php
docker-compose.ports.yml
docker-compose.yaml
Dockerfile
logs/*
nbproject/
php82.Dockerfile
phpcs.xml
phpunit.xml.dist
secrets
static-build-upx.Dockerfile
static-build.Dockerfile
tests/*
tmp/*
vendor/